<h1><%= @sentence.content %></h1>
<p>~<%= @sentence.author %></p>

<p><%= link_to "Edit", edit_story_sentence_path(@sentence) %></p>
<p><%= link_to "Delete", story_sentence_path(@sentence),
                         :data => {:confirm => "You sure?",
                                   :method => "delete"} %></p>
<p><%= link_to "Return to sentences", story_path %></p>
