<h1><%= @sentence.content %></h1>
<p>~<%= @sentence.author %></p>
<%= image_tag("#{@image.url}") %>
<hr>
<span><%= link_to "Edit", edit_story_sentence_path(@sentence.story, @sentence) %></span>
<span><%= link_to "Delete", story_sentence_path(@sentence),
                         :data => {:confirm => "You sure?",
                                   :method => "delete"} %></span>
<span><%= link_to "Return to sentences", story_path(@sentence.story) %></span>
