<h1>Stories</h1>

<h3>Featured Stories</h3>
<% @most_sentences.each do |most| %>
 <li><a href="stories/<%= most.id %>"><%= most.title.capitalize %></a></li>
<% end %>

<h3>Most Popular Contributor</h3>
<%= @contributor %>

<br>

<h1>Select Story</h1>

  <ul class="d-flex">
    <% @stories.each do |story| %>
      <a href="<%= story_path(story) %>"><li class="flex-row"><%= story.title.capitalize %></li></a>
    <% end %>
    <a href="<%= new_story_path %>"><li class="flex-row">New Story</li></a>
  </ul>

</div>
