<!DOCTYPE html>
<html>
  <head>
    <title>Storytime</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="my-nav">
      <div class="container">
        <ul>
          <li><%= link_to "Home", root_path %></li>
          <% if @story %>
            <li><%= link_to "Create Sentence", new_story_sentence_path(@story) %></li>
            <li><%= link_to "Edit Story", edit_story_path(@story) %></li>
            <li><%= link_to "Delete", story_path(@story), :data => {:confirm => "You sure?", :method => "delete"} %></li>
          <% end %>
          <% if @sentence %>
            <li><%= link_to "Edit Sentence", edit_story_sentence_path(@sentence.story, @sentence) %></li>
            <li><%= link_to "Delete Sentence", story_sentence_path(@sentence), :data => {:confirm => "You sure?", :method => "delete"} %></li>
            <li><%= link_to "Return", story_path(@sentence.story) %></li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
